.titulo img{
    width: 17rem;
    margin: 0 0 0 4rem ;
}

.titulo{
    display: grid;
    grid-template-columns: 0.1fr 4fr;
    border: solid black;
    border-bottom: none;
    border-width: 5px;
    width: 118.94rem;
    height: 12rem;
    background-color: rgba(0, 3, 206, 0.808);

}

.titulo h1{
    display: flex;
    font-size: 3.5rem;
    height: 15rem;
    width: auto;
    margin-left: 18.5rem;
    margin-top: 3.5rem;
}


.corpoVeiculo{
    text-align: center;
    height: 43rem;
    background-color: #e3f6ff;
    border: solid black;
    border-width: 5px;
    border-bottom: none;
}

.subtitulo{
    font-size: 2rem;
    font-weight: bolder;
}

.campos{
    display:grid;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: -1rem;

}

.campo{
    padding: 0.2rem;
    text-align: center;
    border: solid black;
    border-radius: 1rem;
}

button{
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: large;
}

.cpt{
    width: 20px;
}
.rodape{
    height: auto;
    border: solid black;
    text-align: center;
    background-color: rgba(0, 3, 206, 0.808);
    border-width: 5px;
    font-family: Arial, Helvetica, sans-serif;
}